/* Body'ye flexbox ekleyelim ve içerikleri dikey hizalayalım */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 50px;
  font-family: Arial, sans-serif;
}

/* Content bölümüne biraz boşluk ekleyelim */
main {
  flex-grow: 1; /* Sayfa uzunluğuna göre genişlemesini sağlar */
  padding: 50px 0; /* Navbar ile araya boşluk */
}

/* Footer'ı en altına sabitleyelim */
footer {
  background-color: #1f3c5d;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 70px; /* Footer'ı en alta itecektir */
}
