/* Temel stil ayarları */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  margin-bottom: 20px;
  color: #333;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  gap: 40px;
  transition: all 0.3s ease;
}

.left-side,
.right-side {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 45%;
  transition: transform 0.3s ease;
}

.left-side:hover,
.right-side:hover {
  transform: scale(1.03); /* Hoverda büyüme efekti */
}

h2 {
  font-size: 2rem;
  color: #1f3c5d;
  font-family: "Orbitron", sans-serif; /* Futuristik font */
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin: 12px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border 0.3s;
}

input:focus {
  border-color: #33ccff;
  outline: none;
}

button {
  padding: 12px;
  background-color: #33ccff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #29a6cc;
  transform: translateY(-2px); /* Hoverda yükselme efekti */
}

.divider {
  width: 1px;
  background-color: #ccc;
  height: 300px;
  margin: 0 20px;
}

/* Mobil Uyumlu Tasarım */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 20px;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .divider {
    height: 150px;
  }
}
