/* Navbar Styling */
.navbar {
  background: linear-gradient(
    45deg,
    #1f3c5d,
    #a3c8f2
  ); /* Uzay temalı mavi gradient */
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 96%;
  z-index: 1000;
  border-bottom: 2px solid #33ccff; /* Neon etkisi */
}

.navbar .brand {
  font-size: 24px;
  font-family: "Orbitron", sans-serif; /* Futuristik bir font */
  letter-spacing: 2px;
  color: #33ccff;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar ul li a:hover {
  color: #33ccff; /* Neon hover efekti */
  transform: scale(1.1); /* Hoverda büyüme efekti */
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #33ccff;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
  left: 0;
}
