<div class="container">
    <h1>TASK MANAGER APP TABLE</h1>
    <div class="user-info">
        <h3>Personal Information</h3>
        <p><strong>Username =></strong> {{ user.username }}</p>
        <p><strong>E-mail =></strong> {{ user.email }}</p>
        <p><strong>Id =></strong> {{ user.id }}</p>
    </div>

    <div class="task-list">
        <h3>Task List</h3>
        <h2>MY TASK</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>STATUS</th>
                    <th>OPERATION</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks">
                    <td>{{ task.id }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.status }}</td>
                    <td>
                        <button (click)="editTask(task)">Edit</button>
                        <button (click)="deleteTask(task.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>