<div class="container">
    <h1>TASK MANAGER APP TABLE</h1>

    <div class="user-info">
        <h3>Personal Information</h3>
        <p><strong>Username =></strong> {{ user.email }}</p>
        <p><strong>E-mail =></strong> {{ user.email }}</p>
        <p><strong>Id =></strong> {{ user.id }}</p>
    </div>

    <!-- Yeni Task Ekleme Formu -->
    <div class="task-form">
        <h3>Add New Task</h3>
        <form (submit)="createTask()">
            <label>Title:</label>
            <input type="text" [(ngModel)]="newTask.title" name="title" required />

            <label>Description:</label>
            <input type="text" [(ngModel)]="newTask.description" name="description" required />

            <label>Completed:</label>
            <select [(ngModel)]="newTask.isCompleted" name="isCompleted">
                <option [value]="true">Yes</option>
                <option [value]="false">No</option>
            </select>

            <button type="submit">Create Task</button>
        </form>
    </div>

    <!-- Task Listesi -->
    <div class="task-list">
        <h3>Task List</h3>
        <h2>MY TASK</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>STATUS</th>
                    <th>DESCRIPTION</th>
                    <th>OPERATION</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks">
                    <td>{{ task.id }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.isCompleted }}</td>
                    <td>{{ task.description }}</td>
                    <td>
                        <button (click)="editTask(task)">Edit</button>
                        <button (click)="deleteTask(task.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>