/* Home Page */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.home-container {
  text-align: center;
}

.home .btn {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
